<!DOCTYPE html>
<html>
<head>
	<title>Nodeocrat</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css" />
	<script src="/static/js/essentials-lib.js"></script>
	<script src="/static/js/layout.js"></script>

	<!--- favicon stuff -->
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16.png">
	<link rel="apple-touch-icon" href="/static/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/favicon-144.png">
	<meta name="msapplication-config" content="/static/browserconfig.xml">
</head>
<body>
	<div class="" id="wrap">

    <div class="nc-bar"><!--div class="clearfix header"-->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
			      <nav>
							<a href="/">
								<img style="margin: 10px;" class="nav-item pull-left" src="/static/images/nclogosmall.png"></img>
								<h2 class="text-muted pull-left" style="margin-left: 5px; margin-bottom: 12px; color: #66cc33"><b>Nodeocrat</b></h2>
							</a>
							<ul class="nav nav-pills pull-left" style="margin-top:15px; margin-left: 40px;">
								<li id="home-pill"><a href="/">Home</a></li>
								<li id="blog-pill"><a href="/blog">Blog</a></li>
							</ul>
							<script>
								//if(window.location.href == '/home/')
								//console.log('url: ' + window.location.href);
								const parser = document.createElement('a');
								parser.href = window.location.href;
								if(parser.pathname === "/"){
									const pillEle = document.getElementById('home-pill');
									pillEle.className = pillEle.className + ' ' + "active";
								} else if(parser.pathname.substring(0,5) === "/blog"){
									const pillEle = document.getElementById('blog-pill');
									pillEle.className = pillEle.className + ' ' + "active";
								}

							</script>
							<div id="nav-bar" class="pull-right">
			          {{#if user}}
									<div class="dropdown">
									  <button style="margin: 10px; border: none; background: none;" onclick="dropDownToggle()" type="button" class="acc-drop-btn">
											<span style="color: #999; padding-right: 5px;" class="glyphicon glyphicon-triangle-bottom acc-drop-btn"></span>
											<img style="border-radius: 50%;" class="acc-drop-btn" height="40px" width="40px"
												src="{{user.displayPicture.value}}"></img>
										</button>
										<ul id="myDropdown" class="dropdown-menu">
											<li><a href="/account">Account</a></li>
											<li class="divider"></li>
											<li id="main-layout-logout"><a>Sign out</a></li>
										</ul>
									</div>
			          {{else}}
									<ul class="nav nav-pills" style="margin-top:15px;">
				            <li role="presentation"><a href="/login">Login</a></li>
				            <li role="presentation"><a href="/register">Register</a></li>
									</ul>
			          {{/if}}
							</div>
			      </nav>
					</div>
				</div>
			</div>
    </div>

		<div class="container">
	    <div class="row">
	      <div class="col-lg-12" id="body-container">
	        {{{body}}}
	      </div>
	    </div>
		</div>

  </div> <!-- /container -->
	<footer class="container footer">
		<p>&copy; 2017 Nodeocrat</p>
	</footer>
		<style>
	    .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
	        background-color: #339933;
	    }
			.nav-pills > li > a:focus, .nav-pills > li > a:hover {
				background-color: #777777;
			}
      .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
          background-color: #55bb55;
      }
			.nav-pills > li > a{
				color:white;
				background-color: #555555;
			}
			.nav-pills > li {
				margin: 0 5px 0 5px;
			}
	</style>
	<style>
		html, body {
			height: 100%;
		}
		body {
			padding-top: 100px;
			background-color: #eeeeee;
		}

		#wrap {
			min-height: 100%;
		}

		#body-container {
			overflow:auto;
			padding-bottom:150px; /* this needs to be bigger than footer height*/
		}

		.footer {
			position: relative;
			margin-top: -150px; /* negative value of footer height */
			height: 150px;
			clear:both;
			padding-top:20px;
		}


		/*Drop down menu*/

		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		    position: relative;
		    display: inline-block;
		}

		/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
		.show {display:block;}
		.dropdown-menu li:hover {
			cursor: pointer;
		}


		/*temp nav bar stuff; stick it all in a .css file once done*/
		.nc-bar {
	    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	    background-color: #333333;
	    position: fixed;
	    top: 0;
	    /*height: 64px;*/
	    width: 100%;
	    /*max-width: 100%;*/
	    /*color: #FFFFFF;*/
	    /*padding: 0;*/
	    border: none;
	    z-index: 1030;
		}

	</style>
</body>
</html>
