
Below is an excerpt from my final year project:

<br><object height="1000" width="800" data="/static/Auslander-Parter.pdf"></object><br>

Software for the algorithm was not part of the project (my degree didn't involve computing). There were several other problems which
had to be addressed to implement it in software <b>[Explanation]</b>,
a draft implementation is provided here:
<a href="">project jar file</a>
<br><p>Be sure to have java installed before running. You can chose to run one of the demo's, or you
 can choose to draw your own graph, however it must be biconnected
(i.e. if you remove any one vertex, the graph will still be one connected component).
 It is easily possible to get the algorithm working on non-biconnected graphs by simply
  working through each biconnected component, however, the algorithm which finds these
  components is beyond the scope of what I'm doing here.</p>
