<a href="/blog/apalg">Blog 1: Mini-project: Auslander-Parter algorithm</a>
<br>
<a href="/blog/shootyballs">Blog 2: Mini-project: Game-server without a game loop</a>
<br>
<a href="/blog/react-app">REACT APP TEST</a>
