<html>
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <!--script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script-->
    <!-- 2. Configure SystemJS -->
    <!--script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script-->
  </head>
  <style>
    .ext-logo-homepage {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .panel-text {
      font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular';
      line-height: 20px;
      color: rgba(0,0,0,.7);
      font-size: 15px;
    }
  </style>
  <body>

    <div class="row">
      <div class="col-md-3 well" style="background-color: #eeeeee;">
        <div class="center-outer"><div class="center-inner">
          <img class="ext-logo-homepage" height="123" width="200" src="/static/images/external-logos/node-logo.png"></img>
        </div></div>
        <div class="center-outer"><div class="center-inner">
          <img class="ext-logo-homepage" height="74" width="220" src="/static/images/external-logos/react-logo.png"></img>
        </div></div>
        <div class="center-outer"><div class="center-inner">
          <img class="ext-logo-homepage" height="75" width="200" src="/static/images/external-logos/aws-logo.png"></img>
        </div></div>
        <div class="center-outer"><div class="center-inner">
          <img class="ext-logo-homepage" height="118" width="100" src="/static/images/external-logos/linux-logo.png"></img>
        </div></div>
        <div class="center-outer"><div class="center-inner">
          <img class="ext-logo-homepage" height="60" width="220" style="margin-top: 40px;" src="/static/images/external-logos/mongodb-logo.png"></img>
        </div></div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
              About me
            </div>
            <div class="panel-body panel-text">
              <p>I am currently looking for contract work around London.</p>
              <p>With experience in big-data real-time analytics, banking software and a number of personal projects, I have solid experience of working with different types of software in different programming languages on both a macro and micro scale across the full stack and software lifecycle. I have worked with plenty of well designed and badly designed software so have a thorough appreciation of the importance of good software design and the trade-offs between complexity, time constraints and future maintenance/enhancements. Also being from a heavy maths background, algorithms and cunning solutions to difficult problems are one of my specialties.</p>
              <p>Technologies I am proficient with: Node.js, React.js, JavaScript (ES-2016), C++, MongoDB, Linux, AWS, HTML + CSS + Bootstrap, Nginx, Express.js, Passport, Npm, Git, Mocha and various APIs including Google, Facebook and Stripe APIs</p>
              <p>Other technologies i have worked with: Java, Dart, PostgreSQL/SQL, AngularJS 2.0</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
              Contact
            </div>
            <div class="panel-body panel-text">
              ashley.phillips@nodeocrat.com
              <br><a href="https://www.linkedin.com/in/ashley-phillips-5b5a8599/">linkedin</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
              Blogs
            </div>
            <div class="panel-body panel-text">
              <a href="/blog/apalg">Blog 1: Mini-project: Auslander-Parter algorithm</a>
              <br>
              <a href="/blog/shootyballs">Blog 2: Mini-project: Game-server without a game loop</a>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
