<link rel="stylesheet" type="text/css" href="/static/fonts/social-networking/css/fontello.css">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="227957552401-315nik1jk75v73abqfv4olericorbdt9.apps.googleusercontent.com">

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="/login/local" method="post">
          <div class="form-group">
            <label>Username</label>
            <input id="username-edit" oninput="onLoginFormInput();" type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input id="password-edit" oninput="onLoginFormInput();" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button id="local-login-button" class="btn btn-default" disabled>Submit</button>
        </form>
        {{#if login_error}}
        <br>
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span>{{login_error}}</span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="center-outer">
      <div class="center-inner">
        <div style="display: inline-block">
          <div>
            <br>
            <a href="/auth/facebook">
              <button type="button" class="span-parent btn social-login-btn facebook-bg-color">
                <span class="btn-icon icon-facebook"></span>
                <span class="separator"></span>
                <span class="social-btn-text">Sign in with Facebook</span>
              </button>
            </a>
          </div>
          <div>
            <a href="/auth/google">
              <button type="button" class="span-parent btn social-login-btn google-bg-color">
                <span class="btn-icon icon-gplus"></span>
                <span class="separator"></span>
                <span class="social-btn-text">Sign in with Google</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.span-parent {
 min-width: 100%;
}
</style>

<script>
const usernameEdit = document.getElementById("username-edit");
const passwordEdit = document.getElementById("password-edit");
const loginButton = document.getElementById("local-login-button");

function onLoginFormInput(){
  if(usernameEdit.value && passwordEdit.value)
    loginButton.disabled = false;
  else
    loginButton.disabled = true;
}
</script>
